#home {
     height: 100%;
     background: url("../images/image1.jpg") no-repeat center center;
     background-size: cover;
}
body {
    padding: 0;
    margin: 0;
}
/* nav bar */
                    
.menu {
    background: black;
    height: 60px;
}
/* targeting ul inside of .nav */
                    
.menu ul {
    list-style: none;
    float: right;
    padding: 20px 0 0 0;
    margin-right: 42px;
}
/* set the typography */
                    
.menu li {
    font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: inline;
    margin: 5px 60px 0 0;
}
/* style unvisited, visited, hover, and active links 
targeting anchor tags off the underlines and changing the text color */
                    
.menu a {
    text-decoration: none;
    color: #787679;
}
/* CURRENT link "active" to let the user know which page he/she is on */
                    
.menu .current {
    color: #F2EFEA;
}
/* working on "when the link has already been visited" */
/* make the color different when we hover over the link */
                    
.menu a:hover {
    color: #efd8a1;
}
/* make the color different when link is selected and click */
                    
.menu a:active {
    color: #505058;
}

.homediv {
    background-color: transparent;
}
#name h1 {
    color: #F2EFEA;
    font-size: 100px;
    font-weight: 400;
    letter-spacing: 2px;
    font-family: 'Aguafina Script', cursive;
    text-align: center;
    margin-top: 130px;
    padding: 100px 0 0 570px;
}
#name p {
    color: #cbcac7;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Crimson Text', serif;
    text-align: center;
    margin-top: -100px;
    padding-left: 520px;
}
/* Life and Career page */
                    
.lifeandcareer {
    background-color: #cbcac7;
    width: 67%;
    padding: 35px;
    font-size: 16px;
    text-align: justify;
    float: left;
}
.aside {
    float: right;
    font-size: 20px;
    width: 26%;
    margin-top: 30px;
}
/*Jeff's Last Recording Page*/

/* nav bar */
                    
.linkheader {
    position: relative;
    width: 100%;
    height: 200px;
    position: relative;
}
.linkmenu {
    background: black;
    height: 60px;
    position: absolute;
    top: 5px;
    right: 42px;
}
/* targeting ul inside of .nav */
                    
.linkmenu ul {
    list-style: none;
    float: right;
    padding: 20px 0 0 0;
    margin-right: 42px;
                    }
 /* set the typography */
                    
.linkmenu li {
    font-family: "proxima nova", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: inline;
    margin: 5px 60px 0 0;
}
/* style unvisited, visited, hover, and active links 
targeting anchor tags off the underlines and changing the text color */
                    
.linkmenu a {
    text-decoration: none;
    color: #787679;
}
/* CURRENT link "active" to let the user know which page he/she is on */
                    
.linkmenu .current {
    color: #F2EFEA;
}
/* working on "when the link has already been visited" */
/* make the color different when we hover over the link */
                    
.linkmenu a:hover {
    color: #efd8a1;
}
/* make the color different when link is selected and click */
                    
.linkmenu a:active {
    color: #505058;
}
.recordingsession {
    background-color: #F2EFEA;
    width: 67%;
    margin: 30px 5px 5px 25px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    float: left;
}